:root {
    --main-color: #af1e83;
    --grey-color: #343a40;
    --accent-color: #ffd43b;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 48px;
    --spacing-xxl: 64px;

    --font-xs: 10px;
    --font-sm: 12px;
    --font-md: 14px;
    --font-lg: 16px;
    --font-xl: 20px;
    --font-xxl: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    color: var(--grey-color);
    font-size: var(--font-sm);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--main-color);
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    color: var(--main-color);
    font-weight: bold;
    font-size: var(--font-md);
    margin-right: var(--spacing-md);
}

.logo img {
    height: 45px;
    width: auto;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    border-color: var(--main-color);
    transition: background-color 0.3s ease;
    border-left: 1px solid white;
}

.nav-links li:last-child {
    border-right: none;
}

.nav-links a {
    display: block;
    padding: var(--spacing-md) var(--spacing-lg);
    color: var(--main-color);
    text-decoration: none;
    font-size: var(--font-lg);
    text-align: center;
}

.nav-links a.active {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

.nav-links li:hover {
    background-color: var(--main-color);
}

.nav-links li:hover a {
    color: white;
    font-weight: bold;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff0fd;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial;
}


input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background: white;
    border: 2px solid var(--main-color);
    color: black;
    transition: background-color 0.3s ease;
}